.form-container{
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0vh auto;
  background: #F9F9F9;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.inline {
    display: inline-flex;
    width: 100%;
}

.react-form-input{
    width: 100%;
    height: 35px;
}

.input-div {
    width: 100%;
    padding: 1vh;
}

#submit, #dashboard-btn {
   background-color: #ed7b22;
   border-color: #ed7b22;
   width: 100%;
   font-weight: bold;
}


#dashboard-btn {
  width: 80%;
}

#submit:hover, #dashboard-btn:hover {
  background-color: #fff;
  color: #ed7b22;
}

 #logout {
  width: 50%;
  font-weight: bold;  
 }

 #logout:hover {
  background-color: #fff;
  color: red;
  width: 50%;
  font-weight: bold;  
 }

.react-form-message {
	margin-bottom: 1rem;
	display: block;
  }

  .react-form-message-error {
	color: #c32128;
  }

  .react-form-message-warning {
	color: #c32128;
  }